* {
  font-family: 'Open Sans';
  font-size: 21px;
}

p {
  text-align: justify;
  margin-left: 8px;
  margin-right: 8px;
}

p.indent {
  margin-left: 20px;
  margin-right: 20px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Cormorant', serif;
}

.page-background {
  opacity: .9;
  background: white;
}

.my-padding {
  padding: 40px 0px 40px 0px;
  background-image: linear-gradient(to bottom right, #5db275, #687daa);
}

.my-page {
  width: 90%;
  margin: auto;
  box-shadow: 0px 0px 100px rgba(0,0,0,.3);
}

@media (min-width: 576px) {
  .my-padding {
    padding: 80px 0px 80px 0px;
  }

  .my-page {
    margin: auto;
    box-shadow: 0px 0px 100px rgba(0,0,0,.3);
  }
}

@media (min-width: 992px) {
  .my-page {
    max-width: 960px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .my-page {
    max-width: 760px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .my-page {
    max-width: 570px;
  }
}

@media (max-width: 576px) {
  * {
    font-size: 17px;
  }
}
